<template>
  <div>
    <account-info v-if="isLoggedIn" />
    <login-form v-else/>
  </div>
</template>

<script>
import authMixin from '@/mixins/auth';

import LoginForm from '@/components/LoginForm.vue';
import AccountInfo from '@/components/AccountInfo.vue';

export default {
  name: 'Home',
  mixins: [authMixin],
  components: { LoginForm, AccountInfo }
}
</script>
