<template>
  <div
    id="my-modal___BV_modal_outer_"
    class="modal-backdrop-wrapper"
    v-if="searchBackdrop || notificationsBackdrop"
    v-scroll-lock="searchBackdrop || notificationsBackdrop"
  >
    <div
      id="my-modal___BV_modal_backdrop_"
      class="modal-backdrop"
    >
    </div>
  </div>
</template>
<script>
  import { searchBackdrop, notificationsBackdrop } from '@/graphql/queries/local';

  export default {
    name: 'Backdrop',
    apollo: {
      searchBackdrop: searchBackdrop,
      notificationsBackdrop: notificationsBackdrop
    },
    watch: {
      notificationsBackdrop() {
        window.scrollTo(0, 0);
      }
    }
  }
</script>
