<template>

  <div
    class="card"
    v-bind:class="{
    'modal-main': notificationsBackdrop
    }"
  >
    <div
      class="card-body"
      v-click-outside="clickOutsideSearch"
    >

      <div class="row">
        <div class="col-6">
          <h5>Notifications</h5>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn text-primary bold">
            Mark All as Read
          </button>
        </div>

        <div class="col-12">
          <div class="row text-muted mt-2">
            <div class="col-12">
              <div class="icon-container justify-content-start pr-4">
                <div class="search-icon-up-and-down mr-1"></div>
                <small class="d-inline-block mr-4">
                  to navigate
                </small>

                <div class="search-icon-enter mr-1"></div>
                <small class="d-inline-block mr-4">
                  to select
                </small>

                <div class="search-icon-escape mr-1"></div>
                <small class="d-inline-block mr-4">
                  to exit
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <NotificationResult />
        </div>
      </div>

    </div>
  </div>

</template>

<script>
import ClickOutside from 'vue-click-outside';

import { notificationsBackdrop } from '@/graphql/queries/local';

import updateNotificationsBackdrop from '@/graphql/mutations/local/updateNotificationsBackdrop';

import NotificationResult from '@/components/NotificationResult';

export default {
  name: 'NotificationsModal',
  apollo: {
    notificationsBackdrop: notificationsBackdrop,
  },
  components: {
    NotificationResult
  },
  directives: {
    ClickOutside
  },
  methods: {
    clickOutsideSearch(e) {
      const isNotificationIcon = e.srcElement.id === 'notificationsIcon';
      const isNotificationWrap = e.srcElement.id === 'notificationsIconWrapper';

      if(!this.notificationsBackdrop || isNotificationIcon || isNotificationWrap) return;

      updateNotificationsBackdrop({
        apollo: this.$apollo,
        enabled: false
      });
    }
  }
}
</script>
