<template>
  <div
    class="d-flex flex-row
      align-items-center pb-2 pt-2 pl-4 pr-3 list-border-top"
    v-bind:class="{ 'ti-highlighted': active }"
    :ref="resultRef"
    v-on:click="resultClick"
  >
    <div class="d-inline-block mr-4">
      <div class="d-inline-block">
        <div class="icon-container"
          v-bind:class="providerIcon">
          <div class="logo-provider"></div>
        </div>
      </div>
    </div>
    <div class="search-from mr-3">
      <div
        class="search-header text-ellipsis ti-subject-wrapper"
        v-html="subject">
      </div>
      <div class="text-ellipsis">
        <small class="text-muted" v-html="fromEmail">
        </small>
      </div>
    </div>
    <div class="search-main min-w-0 w-100">
      <div class="search-header text-center">
        <span v-html="senderName">
        </span>
        <span class="float-right mr-2">
          {{ parseTimeStamp(timeStamp) }}
        </span>
      </div>
      <div class="text-ellipsis">
        <small class="text-muted" v-html="body">
        </small>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import updateResultActive from '@/graphql/mutations/local/updateResultActive';
import detectElementOverflow from 'detect-element-overflow';

export default {
  name: 'Result',
  props: {
    index: {
      type: Number,
      required: true
    },
    subject: {
      type: String,
      required: true
    },
    senderName: {
      type: String,
      required: true
    },
    body: {
      type: String,
      required: true
    },
    timeStamp: {
      type: String,
      required: true
    },
    provider: {
      type: String,
      required: true
    },
    fromEmail: {
      type: String,
      required: true
    },
    active: {
      type: Boolean,
      required: true
    },
    resultId: {
      type: String,
      required: true
    },
    deepLink: {
      type: String,
      required: true
    }
  },
  methods: {
    parseTimeStamp(date) {
      return moment(date).calendar({
        sameElse: 'MMM DD, LT'
      });
    },
    isOverflowing(resultEl) {
      const parent = this.$parent.$refs['panel'];
      const elementOverflow = detectElementOverflow(resultEl, parent);

      return elementOverflow.collidedBottom || elementOverflow.collidedTop;
    },
    resultClick() {
      if (this.active) {
        window.open(
          `https://${this.deepLink}`, '_blank'
        );
      } else {
        this.$emit('clearAllActiveResults');
        updateResultActive({
          apollo: this.$apollo,
          id: this.resultId,
          active: true
        });
      }
    },
  },
  watch: {
    // TO DO: Return true if active element is visible
    // from the search results.
    active(val) {
      if (val) {
        const resultEl = this.$refs[this.resultRef];
        if (!this.isOverflowing(resultEl)) return;

        resultEl.scrollIntoView(false);
      }
    }
  },
  computed: {
    providerIcon() {
      return `logo-container-sm-${this.provider}`;
    },
    resultRef() {
      return `result-${this.resultId}`
    }
  }
}
</script>
