// Colors
$primary: #5069d7;
$white: #fcfdff;
$black: #191923;
$purple: #465fd2;

$danger: #ff694b;

$blue-ultra-light: #ebf5ff;

$gray-600: #7c8291;

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 942px,
  xl: 942px
);

// Borders
$border-radius-sm: 8px;
$border-radius: 12px;

// Font size
$font-size-base: .875rem;
$small-font-size: 12px;

$h5-font-size: 20px;

// Fonts
$font-family-base: 'Maven Pro', sans-serif;

// Navbars
$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($white, .75);

$nav-link-font-size: 13px;
$nav-link-font-weight: 500;

// Nav-tabs
$nav-link-padding-y: 0.36rem;
$nav-link-padding-x: 2rem;

$nav-tabs-border-color: none;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: $border-radius;

$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $primary;

// Input
$input-btn-focus-box-shadow: none;

// HR
$hr-border-color: $blue-ultra-light;
$hr-margin-y: 0;
