$gray-light: #f0f0f0;

// Bootstrap overrides \\
$navbar-height: 80px;
$navbar-link-fontweight: 500;

// Theme \\
$provider-and-color: (
  "slack": #f5f4f8,
  "gmail": #fff5e6,
  "outlook": #ebf5ff,
  "teams": #f0f0fa,
  "github": #f0f0f0,
  "jira": #ebf5ff,
  "todoist": #fff5e6
);

$logo-provider-container-size: 64px;
$logo-provider-size: 24px;

$logo-provider-container-size-sm: 40px;
$logo-provider-size-sm: 24px;

$list-border-top: 1px solid $hr-border-color;

// Notifications Modal
$notifications-modal-wrapper-top: 70px;

// Tracked Items list

$ti-message-content-line-count: 3;
$ti-subject-content-line-count: 2;

$ti-standard-padding: 1.7rem;

$ti-subject-wrap-width: 140px;
$ti-highlighted-paddings: 13px 10px;
$ti-highlighted-color: $white;

$ti-notifications-badge-width: 12px;
$ti-notifications-badge-height: 12px;
$ti-notifications-badge-margin: 0 0 6px 6px;
$ti-notifications-badge-right: 5px;
$ti-notifications-badge-top: 1px;

$ti-label-padding: 2px 8px;
$ti-label-font-size: 10px;

$ti-add-label-min-width: 120px;
$ti-add-label-input-border: 1px solid $border-color;

// Logos
$default-logo-width: 24px;
$default-logo-height: $default-logo-width;

$default-misc-small-width: 16px;
$default-misc-small-height: $default-misc-small-width;

$user-logo-circle-height: 30px;
$user-logo-circle-width: $user-logo-circle-height;

// Icons
$search-icons: (
  "enter": url('../assets/search/enter.svg'),
  "escape": url('../assets/search/escape.svg'),
  "tabs": url('../assets/search/tabs.svg'),
  "up-and-down": url('../assets/search/up-and-down.svg')
);

$search-icon-width: 16px;
$search-icon-height: 16px;

//24px icons
$misc-icons: (
  "search": url('../assets/misc-icons/search-icon.svg'),
  "close": url('../assets/misc-icons/close-icon.svg'),
  "trashcan": url('../assets/misc-icons/trashcan-icon.svg')
);

// 16px icons
$misc-icons-small: (
  "close": url('../assets/misc-icons-small/close-icon.svg')
);

// Search
$search-header-font-size: 16px;
$search-from-width: 200px;
$search-container-maxheight: 310px;

// Search Result Scroll
$search-scroll-width: 7px;
$search-scroll-border-radius: $border-radius-sm;
$search-scroll-background-color: rgba(0, 0, 0, .5);
$search-scroll-box-shadow: 0 0 1px rgba(255, 255, 255, .5);

