<template>
  <div>
    <div class="row mt-5" v-if="isLoggedIn">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              Account Settings
            </div>
            <div>
              <div>
                <button class="btn btn-danger" @click="destroyAccount(currentUser)">Delete Account</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">under construction account settings...</h5>
            <p class="card-text">
              ID: {{ currentUser.id }} <br>
              email: {{ currentUser.email }} <br>
              authentication token: {{ currentUser.authenticationToken }} <br>
            </p>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-header d-flex justify-content-between">
            <div>
              <strong>Linked Accounts</strong>
            </div>
            <div>
              <div>
                <b-dropdown id="dropdown-1" text="Link Accounts" class="m-md-2">
                  <social-login-btns :dropdown="true"></social-login-btns>
                </b-dropdown>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div v-for="provider in currentUser.providers" :key="provider.id">
                <div class="col">
                  <button class="btn btn-primary btn-danger" @click="unlinkAccount(provider, currentUser)">Unlink {{provider.name.charAt(0).toUpperCase() + provider.name.slice(1)}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import authMixin from '@/mixins/auth'
import deleteProvider from '@/graphql/mutations/deleteProvider';
import _get from "lodash/get";
import SocialLoginBtns from "@/components/startpage/SocialLoginBtns";
import destroyUser from "@/graphql/mutations/destroyUser";

export default {
  name: 'Account',
  components: {
    SocialLoginBtns
  },
  mixins: [authMixin],
  methods: {
    unlinkAccount(provider, user){
      deleteProvider({
        apollo: this.$apollo,
        uid: provider.uid,
        user_id: user.id
      }).then(response => _get(response, 'data.deleteProvider', {}))
        .then(response => {
          this.$router.go(this.$router.currentRoute);
        }).catch(error => {
          console.log("Error: ", error.data)
        });
    },
    destroyAccount(user){
      destroyUser({
        apollo: this.$apollo,
        uid: user.id,
      }).then(response => _get(response, 'data.destroyUser', {}))
        .then(() => {
          this.$router.push({ name: 'home' });
        }).catch(error => {
        console.log("Error: ", error.data)
      });
    }
  }
}
</script>
