<template>
  <div>
      Authentication Successful!
  </div>
</template>

<script>
  import JwtService from "@/common/jwt.service";
  import apolloClient from '@/common/apolloClient';

  export default {
    name: "Login",
    data() {
      return {
        email: '',
        password: '',
        error_message: null,
        success: false
      };
    },
    mounted() {
      if(this.$route.query.token){
        JwtService.saveToken(this.$route.query.token);
        this.success = true;
        JwtService.getToken().then(getTokenResponse => {
          apolloClient.writeData({
            data: {
              isAuthenticated: !!getTokenResponse
            }
          });
        });
        setTimeout(function () {
          switch(this.$route.query.type) {
            case 'slack':
              this.$router.push({ name: "slack" });
              break;
            case 'google':
              this.$router.push({ name: "google" });
              break;
            default:
              this.$router.push({ name: "home" })
          }
        }.bind(this), 500)
      }
    }
  };
</script>
