<template>
  <div>
    <div v-if="isLoggedIn && googleProviderPresent">
      <h3>Call Google Gmail APIs here to fetch details.</h3>
      <p>Total Gmail Emails in inbox: {{emailsCount}} </p>
      <hr>
      <p class="text-danger" v-if="error">{{errorMessage}}</p>
    </div>
    <div v-else>
      <h3>Call Google APIs here to fetch google details.</h3>
      <p>Google Not Linked.</p>
      <button class="btn btn-primary" @click="$router.push({ name: 'account' })">Goto Accounts</button>
    </div>
  </div>
</template>

<script>
  import authMixin from '@/mixins/auth';
  import ActionItemAPI from '@/common/actionItemAPI';
  import refreshAccessToken from '@/graphql/mutations/refreshAccessToken';
  import _get from 'lodash/get';

  export default {
    name: 'Google',
    data(){
      return {
        message: '',
        channel: '',
        emailsCount: 0,
        success: false,
        errorMessage: '',
        error: false,
        googleProviderPresent: false
      }
    },
    mixins: [authMixin],
    methods: {
      googleProvider(){
        if(this.currentUser) {
          let googleProvider = this.currentUser.providers.find(element => element.name === 'google');
          ActionItemAPI.getMessagesList(googleProvider.name, googleProvider.uid, googleProvider.token)
            .then(response => {
              this.emailsCount = response.data.messages.length;
            })
            .catch(error => {
              console.log("Error: ", error);
              if(error.response.status === 401){
                this.error = true;
                this.errorMessage = 'Error: Access Token expired. Refreshing...';
                refreshAccessToken({
                  apollo: this.$apollo,
                  uid: googleProvider.uid,
                }).then(response => _get(response, 'data.refreshAccessToken', {}))
                  .then(() => {
                    this.$router.go(this.$router.currentRoute);
                  }).catch(error => {
                    console.log("Error: ", error.data);
                  });
              }
            });
        }
      },
      validateGoogleProvider(){
        if(!this.currentUser) return false;
        let provider = this.currentUser.providers.find(element => element.name === 'google');
        return !!provider;
      }
    },
    watch: {
      currentUser: function(newVal, oldVal) {
        if(typeof newVal === 'object' && newVal !== null){
          this.googleProviderPresent = this.validateGoogleProvider();
          if(this.googleProviderPresent) this.googleProvider();
        }
      }
    }
  }
</script>
