<template>
  <div>
    <div class="row">
      <Search />
    </div>
    <div class="row mt-5">
      <TrackedItemsList />
    </div>
  </div>
</template>

<script>
import authMixin from '@/mixins/auth'
import Search from '@/components/startpage/Search';
import TrackedItemsList from "@/components/startpage/TrackedItemsList";

export default {
  name: 'Home',
  mixins: [authMixin],
  components: {
    TrackedItemsList,
    Search
  }
}
</script>
