<template>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <b-link to="register" class="float-right btn btn-outline-success">
                  No Account?
                </b-link>
                <h4 class="card-title mb-4 mt-1">Sign-in to your Account</h4>
              </div>
            </div>
            <div class="row">
              <div v-if="error_message" class="col-12 text-danger">
                There was an error processing your form:
                <ul>
                  <li>{{error_message}}</li>
                </ul>
              </div>
              <div class="col-12">
                <form @submit.prevent="onSubmit">
                  <div class="form-group">
                    <label>Your email</label>
                    <input v-model="email" name="" class="form-control" placeholder="Email" type="email">
                  </div>
                  <div class="form-group">
                    <b-link to="forgot-password" class="float-right">Forgot your password?</b-link>
                    <label>Your password</label>
                     <input v-model="password" class="form-control" placeholder="******" type="password">
                  </div>
                  <div class="form-group">
                    <div class="checkbox">
                      <label> <input type="checkbox"> Save password </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary col-md-3 col-12"> Login  </button>
                  </div>
                </form>
                <div>
                  <social-login-btns :login-page="true"></social-login-btns>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import signIn from '@/graphql/mutations/signIn';
import JwtService from "@/common/jwt.service";
import apolloClient from '@/common/apolloClient';
import _get from 'lodash/get';
import SocialLoginBtns from "@/components/startpage/SocialLoginBtns";

export default {
  name: "Login",
  data() {
    return {
      email: '',
      password: '',
      error_message: null
    };
  },
  components: {
    SocialLoginBtns
  },
  methods: {
    onSubmit() {
      signIn({
        apollo: this.$apollo,
        email: this.email,
        password: this.password
      }).then(response => _get(response, 'data.signIn', {}))
      .then(response => {
        if(response.success) {
          JwtService.saveToken(response.user.authenticationToken);
          JwtService.getToken().then(getTokenResponse => {
            apolloClient.writeData({
              data: {
                isAuthenticated: !!getTokenResponse
              }
            });
            // reload the current tab because
            // router redirects do not work.
            chrome.tabs.update({url: '/override.html'});
          });
        } else {
          this.error_message = response.data.signIn.errors;
        }
      }).catch(error => {
        this.error_message = error.message;
      });
    }
  }
};
</script>
