<template>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card w-100">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <b-link to="login" class="float-right btn btn-outline-info">
                  Login
                </b-link>
                <h4 class="card-title mb-4 mt-1">Create an Account!</h4>
              </div>
            </div>
            <div class="row">
              <div v-if="error_message" class="col-12 text-danger">
                There was an error processing your form:
                <ul>
                  <li>{{error_message}}</li>
                </ul>
              </div>
              <div class="col-12">
                <form @submit.prevent="onSubmit">
                  <div class="form-group">
                    <label>Your email</label>
                    <input v-model="email" name="" class="form-control" placeholder="Email" type="email">
                  </div>
                  <div class="form-group">
                    <label>Your password</label>
                    <input v-model="password" class="form-control" placeholder="******" type="password">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" @click="onSubmit"> Register  </button>
                  </div>
                </form>
                <div>
                  <social-login-btns :login-page="false"></social-login-btns>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import signUp from '@/graphql/mutations/registerUser';
import JwtService from "@/common/jwt.service";
import apolloClient from '@/common/apolloClient';
import _get from 'lodash/get';
import SocialLoginBtns from '@/components/startpage/SocialLoginBtns';

export default {
  name: 'Register',
  components: {
    SocialLoginBtns
  },
  data() {
    return {
      email: '',
      password: '',
      error_message: null
    };
  },
  methods: {
    onSubmit() {
      signUp({
        apollo: this.$apollo,
        email: this.email,
        password: this.password
      }).then(response => _get(response, 'data.registerUser', {}))
      .then(response => {
        if (response.success) {
          JwtService.saveToken(response.user.authenticationToken);
          JwtService.getToken().then(getTokenResponse => {
            apolloClient.writeData({
              data: {
                isAuthenticated: !!getTokenResponse
              }
            });
            this.$router.push({ name: 'home' });
          });
        } else {
          this.error_message = response.errors
        }
      }).catch(error => {
        this.error_message = error.message
      });
    }
  }
};
</script>
