<template>
  <div v-if="isLoggedIn">
    <div v-if="slackProviderPresent">
      <h3>Call Slack APIs here to fetch slack details.</h3>
      <p>Total Slack Channels: {{channelCount}} </p>
      <hr>
    </div>
    <div v-else>
      <h3>Call Slack APIs here to fetch slack details.</h3>
      <p>Slack Not Linked.</p>
      <button class="btn btn-primary" @click="$router.push({ name: 'account' })">Goto Accounts</button>
    </div>
  </div>
</template>

<script>
  import authMixin from '@/mixins/auth';
  import ActionItemAPI from '@/common/actionItemAPI';

  export default {
    name: 'Slack',
    data(){
      return {
        message: '',
        channel: '',
        channelCount: null,
        success: false,
        errorMessage: '',
        slackProviderPresent: false
      }
    },
    mixins: [authMixin],
    methods: {
      slackProvider(){
        if(this.currentUser) {
          let slackProvider = this.currentUser.providers.find(element => element.name === 'slack');
          ActionItemAPI.getProviderChannels(slackProvider.name, slackProvider.botToken)
          .then(response => {
            this.channelCount = response.channels.length;
            return response.channels;
          })
          .catch(error => {
            console.log("Error: ", error);
          });
        }
      },
      validateSlackProvider(){
        let provider = this.currentUser.providers.find(element => element.name === 'slack');
        return !!provider;
      }
    },
    watch: {
      currentUser: function(newVal, oldVal) {
        if(typeof newVal === 'object' && newVal !== null){
          this.slackProviderPresent = this.validateSlackProvider();
          if(this.slackProviderPresent) this.slackProvider();
        }
      }
    }
  }
</script>
