<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <div class="container">
        <b-navbar-brand to="/override.html">
          <img src="@/assets/ai-logo.svg" alt="ActionItem Logo">
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse">
        </b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <template v-if="!isLoggedIn">
              <template v-if="!inAuthPages">
                <b-button to="login" variant="info" class="mr-2">
                  Login
                </b-button>

                <b-button to="register" variant="success">
                  Register
                </b-button>
              </template>
            </template>
            <template v-else>
              <b-nav-item class="mr-2">
                <div
                  class="d-inline-block mr-2"
                  id="notificationsIconWrapper"
                  v-bind:class="{
                    'modal-main': notificationsBackdrop
                  }"
                  v-on:click="toggleNotificationsModal"
                >
                  <img
                    id="notificationsIcon"
                    width="16"
                    height="16"
                    src="@/assets/misc-icons/notifications-icon.svg"
                    alt="notifications icon"
                  >
                </div>
              </b-nav-item>

              <b-nav-item-dropdown right>

                <template v-slot:button-content>
                  <div class="d-inline-block">
                    <div class="d-inline-block rounded-circle bg-white user-logo-circle text-center mr-2 align-middle">
                      <img
                        src="@/assets/misc-icons/user-icon.svg"
                        width="16"
                        height="16"
                        alt="user icon"
                        class="">
                    </div>
                    <div class="d-inline-block">
                      {{ currentUser.email }}
                    </div>
                  </div>
                </template>

                <b-dropdown-item to="account">Account</b-dropdown-item>
                <b-dropdown-item
                  @click.prevent="handleSignOut">
                  Logout
                </b-dropdown-item>
              </b-nav-item-dropdown>
            </template>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
import _get from 'lodash/get';

import { notificationsBackdrop } from '@/graphql/queries/local';

import signOut from '@/graphql/mutations/signOut';

import updateNotificationsBackdrop from '@/graphql/mutations/local/updateNotificationsBackdrop';

import authMixin from '@/mixins/auth'
import JwtService from "@/common/jwt.service";
import apolloClient from '@/common/apolloClient';

export default {
  name: "AppHeader",
  apollo: {
    notificationsBackdrop: notificationsBackdrop
  },
  mixins: [
    authMixin
  ],
  methods: {
    handleSignOut() {
      signOut({ apollo: this.$apollo })
      .then(response => _get(response, 'data.signOut.success', false))
      .then(success => {
        JwtService.destroyToken();
        this.$apollo.provider.clients.defaultClient.resetStore();
        JwtService.getToken().then(getTokenResponse => {
          apolloClient.writeData({
            data: {
              isAuthenticated: !!getTokenResponse
            }
          });
        });
      }).then(() => {
        this.$router.push({ name: 'login' });
      });
    },
    toggleNotificationsModal() {
      updateNotificationsBackdrop({
        apollo: this.$apollo,
        enabled: !this.notificationsBackdrop
      });
    }
  },
  computed: {
    inAuthPages() {
      return this.$route.name == 'login' || this.$route.name == 'register'
    }
  }
};
</script>
