<template>
  <div
  >
  </div>
</template>

<script>

export default {
  name: 'NotificationResult',
  props: {
    test: {
      type: String,
      required: false
    }
  },
  methods: {
  },
  watch: {
  }
}
</script>
