<template>
  <div
    class="col-12"
    v-bind:class="{ 'modal-main': searchBackdrop }"
    v-click-outside="clickOutsideSearch"
  >
    <Keypress
      key-event="keydown"
      :key-code="27"
      @success="keyEsc"
      :preventDefault="true"
    />

    <Keypress
      key-event="keydown"
      :multiple-keys="multipleKey"
      @success="keyShift_S"
    />

    <div class="card">
      <div class="card-body pt-2 pb-2 pl-4 pr-4 mt-1 mb-1">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend icon-container">
            <div class="icon-misc-search">
            </div>
          </div>

          <input
            ref="actionitem-search"
            type="text"
            class="form-control border-0 form-control-lg"
            placeholder="Search for everything in the accounts you've connected"
            v-model="searchInput"
            @focus="searchFocusOn"
            @keyup="queryTerm(searchInput, $event)"
          >

          <div class="input-group-append" v-if="!searchFocused">
            <span class="input-group-text bg-white border-0">
              <small class="text-muted">
                Shift+S
              </small>
            </span>
          </div>
          <div class="input-group-append icon-container" v-else>
            <div
              class="btn icon-misc-close"
              @click="searchFocusOff">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" v-if="searchFocused && searchTouched">
      <SearchResults
        :searchTerm="finalSearchInput"
        v-if="searchResults.length > 0"
      />

      <div class="card-body pl-4 pr-4" v-else>
        No results found.
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

import { ACTIONITEM_GROUPS, ACTIONITEM_PROVIDERS } from '@/common/config';

import AlgoliaService from '@/common/algolia.service';
import SearchResults from '@/components/startpage/SearchResults';
// Mutations
import addResult from '@/graphql/mutations/local/addResult';
import addResultGroups from '@/graphql/mutations/local/addResultGroups';
import updateSearchBackdrop from '@/graphql/mutations/local/updateSearchBackdrop';
import clearResults from '@/graphql/mutations/local/clearResults';
// Queries
import { resultGroups, searchBackdrop } from '@/graphql/queries/local';
// Mixins
import authMixin from '@/mixins/auth';
import resultMixin from '@/mixins/result';

export default {
  name: 'Search',
  mixins: [
    authMixin,
    resultMixin
  ],
  apollo: {
    resultGroups: resultGroups,
    searchBackdrop: searchBackdrop
  },
  directives: {
    ClickOutside
  },
  components: {
    SearchResults,
    Keypress: () => import('vue-keypress')
  },
  data() {
    return {
      timer: null,
      searchInput: '',
      finalSearchInput: '',
      searchFocused: false,
      searchResults: [],
      searchTouched: false,
      multipleKey: [
        {
          keyCode: 83, // S
          modifiers: ['shiftKey'],
          preventDefault: true,
        }
      ],
    }
  },
  mounted () {
    // prevent click outside event with popupItem.
    this.popupItem = this.$el
  },
  methods: {
    queryTerm(term, e) {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }

      this.timer = setTimeout(() => {
        const charCode = e.charCode || e.keyCode || e.which;

        // break if escape, tab, down or up keys were pressed
        if ([27, 9, 40, 38].includes(charCode)) return;

        this.searchFocused = true;

        this.finalSearchInput = this.searchInput;

        if(this.searchInput === '') {
          this.clearSearchResults();

          return;
        }

        AlgoliaService.multiQuery(
          this.currentUser.algoliaApiKey,
          this.searchInput
        ).then(({ results }) => {
          let totalResults = results.filter(
            result => result.nbHits > 0
          );

          this.searchResults = results.filter(
            result => result.nbHits > 0
          );

          clearResults({
            apollo: this.$apollo
          });

          const self = this;
          const resultGroups = [];

          this.searchResults.forEach(function(searchResult) {
            let providerGroup = self.parseProviderGroup(searchResult.params);

            resultGroups.push(
              {
                __typename: 'ResultGroup',
                id: providerGroup,
                group: providerGroup,
                page: 0,
                groupProvider: ACTIONITEM_GROUPS.includes(providerGroup) ? searchResult.hits[0].provider : 'All'
              }
            );

            searchResult.hits.forEach(
              function(resultHit, resultIndex) {
                addResult({
                  apollo: self.$apollo,
                  id: self.resultFuseIds(resultHit.gql_id, providerGroup),
                  subject: resultHit._highlightResult.subject.value,
                  senderName: resultHit._highlightResult.from.value,
                  timeStamp: resultHit.provider_date_posted,
                  body: resultHit._highlightResult.body.value,
                  provider: resultHit.provider,
                  fromEmail: resultHit._highlightResult.from_email.value,
                  deepLink: resultHit.deep_link,
                  resultsGroup: providerGroup,
                  active: false,
                  groupIndex: resultIndex
                });
            });
          });

          addResultGroups({
            apollo: this.$apollo,
            groups: resultGroups
          });

          this.searchTouched = true;

          if (this.searchResults.length === 0) {
            this.searchResults = [];
            clearResults({
              apollo: this.$apollo
            });
            this.searchTouched = true;

            return;
          }
        });
      }, 800);
    },
    parseProviderGroup(params) {
      const providerParams = new URLSearchParams(params).get('filters');
      let provider = providerParams.split(":")[1];

      if (!ACTIONITEM_PROVIDERS.includes(provider)) return 'All Items';

      provider = this.capitalize(provider);
      return `${provider} Items`;
    },
    capitalize(string) {
      return string.replace(/^\w/, (c) => c.toUpperCase());
    },
    clearSearchResults() {
      this.searchResults = [];
      clearResults({
        apollo: this.$apollo
      });
      this.searchTouched = false;
      this.searchInput = '';
      this.finalSearchInput = '';
    },
    searchFocusOn() {
      this.searchFocused = true;
      updateSearchBackdrop({
        apollo: this.$apollo,
        enabled: true
      });
    },
    searchFocusOff() {
      this.searchFocused = false;
      this.searchInput = '';
      this.finalSearchInput = '';
      this.searchTouched = false;
      updateSearchBackdrop({
        apollo: this.$apollo,
        enabled: false
      });
      this.clearSearchResults();
      document.activeElement.blur();
    },
    focusSearch(){
      this.$refs['actionitem-search'].focus();
    },
    clickOutsideSearch() {
      if (!this.searchFocused) return;

      this.searchFocusOff();
    },

    // Keyboard Shortcuts

    keyEsc() {
      this.searchFocusOff();
    },
    keyShift_S() {
      if (this.searchFocused) return;

      const self = this;

      setTimeout(function() {
        self.focusSearch();
      }, 100);
    }
  }
}
</script>
