<template>
  <div class="card-body pl-0 pr-0 always-show-scroll">
    <Keypress
      key-event="keydown"
      :key-code="37"
      @success="keyArrowLeft"
      :preventDefault="true"
    />

    <Keypress
      key-event="keydown"
      :key-code="39"
      @success="keyArrowRight"
      :preventDefault="true"
    />

    <Keypress
      key-event="keydown"
      :key-code="38"
      @success="keyArrowUp"
      :preventDefault="true"
    />

    <Keypress
      key-event="keydown"
      :key-code="40"
      @success="keyArrowDown"
      :preventDefault="true"
    />

    <Keypress
      key-event="keydown"
      :key-code="13"
      @success="keyEnter"
      :preventDefault="true"
    />

    <div class="row text-muted">
      <div class="col-12">
        <div class="icon-container justify-content-start pl-4 pr-4">
          <div class="search-icon-up-and-down mr-1"></div>
          <small class="d-inline-block mr-4">
            to navigate
          </small>

          <div class="search-icon-tabs mr-1"></div>
          <small class="d-inline-block mr-4">
            to switch tabs
          </small>

          <div class="search-icon-enter mr-1"></div>
          <small class="d-inline-block mr-4">
            to select
          </small>

          <div class="search-icon-escape mr-1"></div>
          <small class="d-inline-block mr-4">
            to exit
          </small>
        </div>

        <hr />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <b-tabs
          v-model="tabIndex"
          :no-key-nav="true"
          content-class="mt-3"
          nav-class="pl-4 pr-4"
        >
          <b-tab
            v-for="(resultGroup, groupIndex) in resultGroups"
            :title="resultGroup.group"
            :key="`${groupIndex}-btab`"
            :no-key-nav="false"
            ref="searchResultsContainer"
            class="search-results-container"
          >

            <Result
              v-for="(result, resultIndex)
              in resultsWhere(resultGroup.group)"

              :key="`
                srchGrp-${groupIndex}-rslt-${resultIndex}
              `"

              :index="resultIndex"
              :resultId="result.id"
              :subject="result.subject"
              :senderName="result.senderName"
              :timeStamp="result.timeStamp"
              :body="result.body"
              :provider="result.provider"
              :fromEmail="result.fromEmail"
              :active="result.active"
              :deepLink="result.deepLink"

              @clearAllActiveResults="clearActiveResult()"
            />

            <infinite-loading
              @infinite="infiniteHandler"
              :identifier="infiniteId"
              :ref="`infiniteLoadingStuff`"
              v-if="resultsWhere(resultGroup.group).length >= 10"
            >
            </infinite-loading>

          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

import AlgoliaService from '@/common/algolia.service';

import resultMixin from '@/mixins/result';
import authMixin from '@/mixins/auth';
import Result from '@/components/startpage/Result';

import updateResultActive from '@/graphql/mutations/local/updateResultActive';
import updateResultGroup from '@/graphql/mutations/local/updateResultGroup';
import addResult from '@/graphql/mutations/local/addResult';

import { results, resultGroups } from '@/graphql/queries/local';

export default {
  name: 'SearchResults',
  apollo: {
    results: results,
    resultGroups: resultGroups
  },
  props: {
    searchTerm: {
      type: String,
      required: true
    }
  },
  mixins: [
    resultMixin,
    authMixin
  ],
  components: {
    Result,
    InfiniteLoading,
    Keypress: () => import('vue-keypress')
  },
  data() {
    return {
      tabIndex: 0,
      infiniteId: +new Date()
    }
  },
  methods: {
    resultsWhere(groupTitle) {
      return this.results.filter(
        result => result.resultsGroup === groupTitle
      );
    },
    capitalize(string) {
      return string.replace(/^\w/, (c) => c.toUpperCase());
    },
    resultRef(resultId) {
      return `result-${resultId}`;
    },
    updateResultActive(id, active) {
      updateResultActive({
        apollo: this.$apollo,
        id: id,
        active: active
      });
    },
    clearActiveResult() {
      if (this.activeResult) {
        this.updateResultActive(
          this.activeResult.id,
          false
        );
      }
    },
    infiniteHandler($state) {
      const self = this;

      AlgoliaService.searchQuery(
        this.currentUser.algoliaApiKey,
        this.searchTerm,
        this.selectedResultGroup.groupProvider,
        this.selectedResultGroup.page
      ).then(({ hits }) => {
        hits.forEach(
          function(searchResult, resultIndex) {
            addResult({
              apollo: self.$apollo,
              id: self.resultFuseIds(
                searchResult.gql_id, self.selectedResultGroup.group
              ),
              subject: searchResult._highlightResult.subject.value,
              senderName: searchResult._highlightResult.from.value,
              timeStamp: searchResult.provider_date_posted,
              body: searchResult._highlightResult.body.value,
              provider: searchResult.provider,
              fromEmail: searchResult._highlightResult.from_email.value,
              deepLink: searchResult.deep_link,
              resultsGroup: self.selectedResultGroup.group,
              active: false,
              groupIndex: self.selectedTabResults.length + resultIndex
            });
        });

        if (hits.length) {
          updateResultGroup({
            apollo: this.$apollo,
            id: this.selectedResultGroup.id,
            page: this.selectedResultGroup.page + 1
          });

          this.infiniteId += 1;
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
    resetInfiniteLoaders() {
      if (!this.$refs['infiniteLoadingStuff']) return;

      this.$refs['infiniteLoadingStuff'].forEach(
        function(infiniteLoading) {
          infiniteLoading.stateChanger.reset();
        }
      );
    },
    resetScrolls() {
      this.$nextTick(() => {
        this.$refs['searchResultsContainer'].forEach(
          function(searchResult) {
            searchResult.$el.scrollTop = 0;
          }
        );
      });
    },

    // Keyboard shortcuts

    keyArrowRight() {
      this.clearActiveResult()

      if (this.tabIndex + 1 == this.resultGroups.length) {
        this.tabIndex = 0;
      } else {
        this.tabIndex = this.tabIndex + 1;
      }
    },
    keyArrowLeft() {
      this.clearActiveResult()

      if (this.tabIndex) {
        this.tabIndex = this.tabIndex - 1;
      } else {
        this.tabIndex = this.resultGroups.length - 1;
      }
    },
    keyArrowDown() {
      const tabResults = this.selectedTabResults;

      if (!this.activeResult) {
        this.updateResultActive(
          tabResults[0].id,
          true
        )

        return;
      }
      const groupIndex = this.activeResult.groupIndex;

      if (tabResults.length == groupIndex + 1) {
        this.clearActiveResult();
        this.updateResultActive(
          tabResults[0].id,
          true
        )
      } else {
        this.clearActiveResult();
        this.updateResultActive(
          tabResults[groupIndex + 1].id,
          true
        )
      }
    },
    keyArrowUp() {
      const tabResults = this.selectedTabResults
      if (!this.activeResult) {
        this.updateResultActive(
          tabResults[tabResults.length - 1].id,
          true
        )

        return;
      }

      const groupIndex = this.activeResult.groupIndex;

      if (groupIndex) {
        this.clearActiveResult();
        this.updateResultActive(
          tabResults[groupIndex - 1].id,
          true
        )
      } else {
        this.clearActiveResult();
        this.updateResultActive(
          tabResults[tabResults.length - 1].id,
          true
        )
      }
    },
    keyEnter() {
      if (!this.activeResult) return;

      window.open(
        `https://${this.activeResult.deepLink}`, '_blank'
      );
    }
  },
  watch: {
    searchTerm(newVal, oldVal) {
      if (newVal === oldVal) return;

      this.resetInfiniteLoaders();
      this.resetScrolls();
      this.tabIndex = 0;
    }
  },
  computed: {
    selectedResultGroup() {
      return this.resultGroups[this.tabIndex];
    },
    selectedTabResults() {
      return this.resultsWhere(this.selectedResultGroup.group);
    },
    activeResult() {
      return this.results.find(results => results.active);
    }
  }
}
</script>
