<template>
  <div>
    <div v-if="dropdown === true">
      <b-dropdown-item :href="`${api_url}/oauth/login?provider=slack`">Slack</b-dropdown-item>
      <b-dropdown-item :href="`${api_url}/oauth/login?provider=google`">Google</b-dropdown-item>
    </div>
    <div v-else>
      <div>
        <a :href="`${api_url}/oauth/login?provider=slack`" class="btn btn-primary col-md-3 col-12"> {{loginOrRegisterTxt()}} with Slack </a>
        <a :href="`${api_url}/oauth/login?provider=google`" class="btn btn-primary col-md-3 col-12 ml-md-2 mt-md-0 mt-2"> {{loginOrRegisterTxt()}} with Google </a>
      </div>
    </div>
  </div>
</template>
<script>
  import { API_URL } from '@/common/config';

  export default {
    name: 'SocialLoginBtns',
    data(){
      return {
        api_url: API_URL
      }
    },
    props: {
      loginPage: {
        type: Boolean,
        default: false
      },
      dropdown: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      loginOrRegisterTxt(){
        if(this.loginPage === true){
          return 'Login';
        }else{
          return 'Register';
        }
      }
    }
  }
</script>
