<template>
  <div
    class="d-flex"
    v-bind:class="{ 'mt-3': !firstItem }"
  >
    <div class="ti-provider-container">
      <div class="d-inline-block position-relative">
        <div class="icon-container"
          v-bind:class="
            'logo-container-' + trackedItem.provider
            "
          >
          <div class="logo-provider"></div>
        </div>

        <div
          class="ti-notifications-badge"
          v-if="notification">
        </div>
      </div>
    </div>
    <div class="flex-grow-1">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <div
              v-on:click="openDeepLink"
              class="flex-grow-1
              ti-initial-subject-content
              cursor-pointer"
            >
              <h5 class="m-0">
                {{
                  trackedItem.initialSubject
                }}
              </h5>
            </div>
            <div class="ml-4">
              <div
                v-on:click="deleteTrackedItem"
                class="icon-misc-trashcan cursor-pointer">
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 cursor-pointer"
          v-on:click="openDeepLink">
          <b>{{ trackedItem.initialFrom }} </b>
          <small class="ml-2 text-muted">
            {{
              parseTimeStamp(
                trackedItem.latestMessage.providerDatePosted
              )
            }}
          </small>
          <small
            class="float-right text-danger"
            v-if="notification"
          >
            {{ trackedItem.unreadNotificationsToS }}
          </small>
        </div>
        <div
          v-on:click="openDeepLink"
          class="col-12 mt-2 cursor-pointer">
          <p class="
            text-muted
            ti-message-content
          ">
            {{ trackedItem.latestMessage.body }}
          </p>
        </div>
        <div class="col-12">
          <div
            v-for="(tag) in trackedItem.tags"
            v-bind:key="`trkedItem-tag-${tag.id}`"
            class="icon-container-inline ti-label mr-2">

            <div class="d-inline-block">
              {{ tag.name }}
            </div>

            <div
              class="
                d-inline-block
                icon-misc-sm-close
                cursor-pointer
              "
               v-on:click="deleteLabel(tag.id)">
            </div>
          </div>

          <div
            v-if="!showLabelForm"
            class="
              d-inline-block
              text-primary
              cursor-pointer
              ti-add-label"
            v-on:click="exhibitLabelForm()">
            ADD LABEL
          </div>
          <div
            class="form-group d-inline-block"
            v-if="showLabelForm"
          >
            <input
              v-model="labelName"
              v-on:keyup.enter="addLabel"
              ref="labelname-input"
              type="text"
              class="
                form-control
                form-control-sm
                ti-add-label-input
                d-inline-block"
              placeholder="Label name"
              @keyup="keyupDuplicateTags($event)"
            >

            <div
              class="btn btn-sm btn-primary ml-1"
              v-bind:class="{
                'disabled': labelNameEmpty || disableSaveTagBtn
              }"
              v-on:click="addLabel"
            >
              {{ labelBtnText }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import clearTiNotifications from '@/graphql/mutations/clearTiNotifications';
import destroyTrackedItem from '@/graphql/mutations/destroyTrackedItem';
import updtTrckedItmNotfction from '@/graphql/mutations/local/updtTrckedItmNotfction';
import removeTrckedItm from '@/graphql/mutations/local/removeTrckedItm';
import removeTrckedItmLabel from '@/graphql/mutations/local/removeTrckedItmLabel';
import destroyTag from '@/graphql/mutations/destroyTag';
import createTag from '@/graphql/mutations/createTag';

import _get from 'lodash/get';

export default {
  name: 'TrackedItem',
  props: {
    trackedItem: {
      type: Object,
      required: true
    },
    firstItem: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      labelName: '',
      showLabelForm: false,
      labelBtnText: 'Save',
      disableSaveTagBtn: false
    }
  },
  methods: {
    parseTimeStamp(date) {
      return moment(date).calendar();
    },
    openDeepLink() {
      window.open(
        `https://${this.trackedItem.latestMessage.deepLink}`,
        '_blank'
      );

      if (!this.notification) return;

      let currentNotification = this
        .trackedItem
        .unreadNotificationsToS

      updtTrckedItmNotfction({
        apollo: this.$apollo,
        id: this.trackedItem.id,
        notification: ''
      });

      clearTiNotifications({
        apollo: this.$apollo,
        trackedItemGqlId: this.trackedItem.id
      }).then(response => _get(
        response,
        'data.clearTiNotifications.success',
        {})
      ).then((result) => {
      }).catch(error => {
        updtTrckedItmNotfction({
          apollo: this.$apollo,
          id: this.trackedItem.id,
          notification: currentNotification
        });
      });
    },
    deleteTrackedItem() {
      removeTrckedItm({
        apollo: this.$apollo,
        id: this.trackedItem.id
      });

      destroyTrackedItem({
        apollo: this.$apollo,
        id: this.trackedItem.id
      });
    },
    deleteLabel(gqlId) {
      console.log('delete label')
      removeTrckedItmLabel({
        apollo: this.$apollo,
        trackedItemId: this.trackedItem.id,
        tagId: gqlId
      });

      destroyTag({
        apollo: this.$apollo,
        gqlId: gqlId
      });
    },
    exhibitLabelForm() {
      this.showLabelForm = true;

      this.$nextTick(() => {
        this.$refs['labelname-input'].focus();
      });
    },
    addLabel() {
      if (this.labelNameDuplicate()) {
        this.labelBtnText = 'Tag already exists';
        this.disableSaveTagBtn = true;

        return;
      }

      createTag({
        apollo: this.$apollo,
        name: this.labelNameCleaned,
        trackeditemGqlId: this.trackedItem.id
      });

      this.showLabelForm = false;
      this.labelName = '';
    },
    keyupDuplicateTags(e) {
      const charCode = e.charCode || e.keyCode || e.which;

      // break if escape, tab, down or up keys were pressed
      if ([27, 9, 40, 38].includes(charCode)) return;

      if (this.labelNameDuplicate()
      ) {
        this.labelBtnText = 'Tag already exists';
        this.disableSaveTagBtn = true;
      } else if (this.disableSaveTagBtn) {
        this.disableSaveTagBtn = false;
        this.labelBtnText = 'Save';
      }
    },
    labelNameDuplicate() {
      return this.trackedItem.tags.findIndex(
          tag => tag.name === this.labelNameCleaned
        ) !== -1;
    }
  },
  computed: {
    notification() {
      return this.trackedItem.unreadNotificationsToS !== '' &&
        this.trackedItem.unreadNotificationsToS != undefined;
    },
    labelNameEmpty()  {
      return this.labelName.trim() === '';
    },
    labelNameCleaned() {
      return this.labelName.replace(/\s+/g, " ").trim();
    }
  }
}
</script>
