<template>
  <div class="col-12">
    <div class="row text-white">
      <div
        class="col-12"
        v-if="apolloLoaded && trackedItemsConnection"
      >
        <h3 v-if="trackedItemsEmpty">
          No Open Items Found
        </h3>

        <h3 v-else>
          Open Items
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12" v-if="!trackedItemsEmpty && trackedItemsConnection">
        <div class="card mt-3">
          <div class="card-body ti-card pt-4 pb-4">
            <TrackedItem
              v-for="(trackedItemCon, index) in trackedItemsConnection.edges"
              v-bind:trackedItem="trackedItemCon.node"
              v-bind:key="`trkedItem-list-${trackedItemCon.node.id}`"
              v-bind:firstItem="index === 0"
            />
            <infinite-loading
              @infinite="infiniteHandler"
              :identifier="infiniteId"
              v-if="hasNextPage"
            >
            </infinite-loading>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import authMixin from '@/mixins/auth';
import InfiniteLoading from 'vue-infinite-loading';

import { trackedItemsConnection } from '@/graphql/queries/trackedItemsConnection';
import { trackedItemUpdated } from '@/graphql/subscriptions/trackedItemUpdated';
import updtTrckedItmNotfction from '@/graphql/mutations/local/updtTrckedItmNotfction';

import TrackedItem from '@/components/startpage/TrackedItem';

import apolloClient from '@/common/apolloClient';

export default {
  name: 'TrackedItemsList',
  mixins: [
    authMixin
  ],
  components: {
    TrackedItem,
    InfiniteLoading
  },
  data() {
    return {
      apolloLoaded: false,
      infiniteId: +new Date(),
      afterCursor: ''
    }
  },
  apollo: {
    trackedItemsConnection: {
      query: trackedItemsConnection,
      subscribeToMore: {
        document: trackedItemUpdated,
        updateQuery: (previousResult, { subscriptionData }) => {
          const trckdItmUpdtResult = subscriptionData
            .data
            .trackedItemUpdated;

          if (!trckdItmUpdtResult) return;

          let edges = previousResult
            .trackedItemsConnection
            .edges;

          switch(trckdItmUpdtResult.eventType) {
            case 'new trackeditem':
                console.log('new trackeditem');

                edges.unshift(
                  subscriptionData
                  .data
                  .trackedItemUpdated
                  .trackedItem
                  .edges[0]
                );
              break;
            case 'trackeditem new notification': {
              console.log('trackeditem new notification');

              const trckedItemInList = edges
                .findIndex(
                  edge => edge.node.id
                    ===
                    trckdItmUpdtResult.trackedItemGqlId
                );

              edges.splice(trckedItemInList, 1)

              edges.unshift(
                subscriptionData
                .data
                .trackedItemUpdated
                .trackedItem
                .edges[0]
              );
              break;
            }
            case 'trackeditem update': {
              console.log('trackeditem update');

              // it seems that vue autmoatically updates
              // all tags?

              /*
              const trckedItemInList = edges
                .findIndex(
                  edge => edge.node.id
                    ===
                    trckdItmUpdtResult.trackedItemGqlId
                );

              const newTrckedItem = subscriptionData
                .data
                .trackedItemUpdated
                .trackedItem
                .edges[0]

              edges[trckedItemInList] = newTrckedItem;
              */

              break;
            }
            case 'trackeditem clear notifications': {
              console.log('tracked item clear notifications');

              const trckedItemInList = edges
                .findIndex(
                  edge => edge.node.id
                    ===
                    trckdItmUpdtResult.trackedItemGqlId
                );

              if (edges[trckedItemInList]) {
                updtTrckedItmNotfction({
                  apollo: apolloClient,
                  id: trckdItmUpdtResult.trackedItemGqlId,
                  notification: ''
                });
              }

              break;
            }
            case 'deleted message':
              // TO DO
              console.log('deleted message');
              break;
            case 'deleted trackeditem': {
              console.log('deleted trackeditem');

              const trckedItemInList = edges
                .findIndex(
                  edge => edge.node.id
                    ===
                    trckdItmUpdtResult.trackedItemGqlId
                );

              edges.splice(trckedItemInList, 1);

              break;
            }
            default:
              console.log('subscription default fallback')
          }

          return {
            trackedItemsConnection: {
              __typename: previousResult
                .trackedItemsConnection
                .__typename,
              // merging the edges array with the new result
              edges: edges,
              pageInfo: previousResult
                .trackedItemsConnection
                .pageInfo
            }
          }
        }
      }
    }
  },
  methods: {
    infiniteHandler($state) {
      if (this.hasNextPage) {
        this.$apollo.queries.trackedItemsConnection.fetchMore({
          variables: {
            afterCursor: this.endCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult } ) => {
            const newEdges = fetchMoreResult.trackedItemsConnection.edges;
            $state.loaded();

            return {
              trackedItemsConnection: {
                __typename: previousResult.trackedItemsConnection.__typename,
                // merging the edges array with the new result
                edges: [
                  ...previousResult.trackedItemsConnection.edges,
                  ...newEdges
                ],
                pageInfo: fetchMoreResult.trackedItemsConnection.pageInfo
              },
            }
          },
        });
      } else {
        $state.complete();
      }
    },
  },
  computed: {
    trackedItemsEmpty() {
      if (!this.trackedItemsConnection) return;

      return this.trackedItemsConnection.edges.length === 0;
    },
    hasNextPage() {
      return this.trackedItemsConnection.pageInfo.hasNextPage;
    },
    endCursor() {
      return this.trackedItemsConnection.pageInfo.endCursor;
    }
  },
  watch: {
    currentUser(val) {
      this.apolloLoaded = true;
    }
  }
};
</script>
