<template>
  <div>
    <div class="row mt-5" v-if="!invalidOauthState && currentUser">
      <div class="col-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              Account Settings
            </div>
            <div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              under construction account settings...
            </h5>
            <p class="card-text">
              ID: {{ currentUser.id }} <br>
              email: {{ currentUser.email }} <br>
              authentication token: {{ currentUser.authenticationToken }} <br>
            </p>
          </div>
        </div>


        <div class="card mt-5">
          <div class="card-body">
            <h4 class="card-title">Link Providers</h4>
            <div class="row">
              <div class="col-12">
                <a
                  class="text-primary cursor-pointer"
                  v-on:click.prevent="redirectToGithubAuth">
                  Add Github
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-header d-flex justify-content-between">
            <div>
              <strong>Linked Accounts</strong>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                Linked accounts go over here.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 bg-light" v-else-if="invalidOauthState && currentUser">
      <div class="col-12 text-center text-danger bg-white">
        <h3 class="pt-5 pb-5">
          States don't match. Possible CSRF attempt blocked.
          <br>
          <br>
          Please contact us for more info.
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
import authMixin from '@/mixins/auth'
import _get from 'lodash/get';
import OauthState from '@/common/oauthState.service';
import githubOauth from '@/graphql/mutations/githubOauth';
import crypto from 'crypto';

export default {
  name: 'Account',
  mixins: [authMixin],
  data() {
    return {
      invalidOauthState: false
    }
  },
  methods: {
    redirectToGithubAuth() {
      this.generateAndStoreState();

      let githubUrl = new URL('https://github.com/login/oauth/authorize');

      const githubScope = 'read:repo_hook';

      githubUrl.searchParams.append(
        'client_id',
        process.env.VUE_APP_GITHUB_CLIENT_ID
      );
      githubUrl.searchParams.append(
        'redirect_uri',
        `${process.env.VUE_APP_FRONTEND_URI}/account`
      );
      githubUrl.searchParams.append(
        'scope',
        githubScope
      );
      githubUrl.searchParams
        .append('response_type', 'code');

      githubUrl.searchParams.append('state',
        OauthState.mergeOriginProvider(
          this.mainWebsite,
          'github',
          OauthState.getState()
        )
      );

      window.location.href = githubUrl;
    },
    generateAndStoreState() {
      const rndmString = crypto.randomBytes(20).toString('hex');
      OauthState.saveState(rndmString);
    },
    beginGithubAccessToken(codeParams) {
      githubOauth({
        apollo: this.$apollo,
        code: codeParams
      }).then(response =>
      _get(response, 'data.githubOauth', {}))
      .then(response => {
        if(response.success) {
          console.log('success in updating the user');
          console.log(response);
        } else {
          alert ('error in updating github access token');
        }
      }).catch(error => {
        alert ('error in updating github access token')
      });
    }
  },
  computed: {
    mainWebsite() {
      return process.env.VUE_APP_OAUTH_STATE_MAIN_WEBSITE;
    }
  },
  created() {
    this.$nextTick(() => {
      const codeParams = this.$route.query.code;
      const stateParams = this.$route.query.state;

      if (!stateParams) return;

      const origin = OauthState.parseOrigin(stateParams);
      const storedOauthState = OauthState
        .parseState(stateParams);
      const provider = OauthState
        .parseProvider(stateParams);

      if (!origin || !storedOauthState || !provider) return;
      if (origin != this.mainWebsite) return;

      if (OauthState.getState() === storedOauthState) {
        OauthState.destroyState();

        switch(provider) {
          case 'github':
            if (codeParams) {
              this.beginGithubAccessToken(codeParams);
            }
            break;
          case 'slack':
            // console.log('slack provider');
            break;
          default:
            alert('unknown origin')
        }

      } else {
        // console.log('invalid state');
        this.invalidOauthState = true;
      }

      // console.log(`code: ${codeParams}`);
      // console.log(`state: ${stateParams}`);
    });
  }
}
</script>
