<template>
  <div>
    <div class="row">
      <div class="col-12 w-100">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4 class="card-title mb-4 mt-1">Forgot your password?</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form>
                  <div class="form-group">
                    <label>Your email</label>
                    <input name="" class="form-control" placeholder="Email" type="email">
                  </div>
                  <div class="form-group mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-block">
                      Send reset instructions!
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ForgotPassword"
};
</script>
