<template>
  <div>
    <div class="row">
      <div class="col-12 text-center">
        <h5 class="card-title mb-4 mt-1">You are currently logged in as</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        ID: {{ currentUser.id }} <br>
        email: {{ currentUser.email }} <br>
        authentication token: {{ currentUser.authenticationToken }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <a class="btn btn-primary btn-block" @click="handleSignOut">Logout</a>
      </div>
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get';

import apolloClient from '@/common/apolloClient';
import JwtService from "@/common/jwt.service";

import authMixin from '@/mixins/auth'

import signOut from '@/graphql/mutations/signOut';
import { currentUser } from '@/graphql/queries/auth';

export default {
  name: 'AccountInfo',
  apollo: {
    currentUser: currentUser
  },
  mixins: [authMixin],
  methods: {
    handleSignOut() {
      signOut({ apollo: this.$apollo })
      .then(response => _get(response, 'data.signOut.success', false))
      .then(success => {
        JwtService.destroyToken();
        this.$apollo.provider.clients.defaultClient.resetStore();

        apolloClient.writeData({
          data: {
            isAuthenticated: false
          }
        });

        this.$apollo.queries.currentUser.refetch();
      });
    }
  }
}
</script>
