<template>
  <div>
    <div class="row">
      <div class="col-12">
        <h4 class="card-title mb-4 mt-1">Sign-in to your Account</h4>
      </div>
    </div>
    <div class="row">
      <div v-if="error_message" class="col-12 text-danger">
        There was an error processing your form:
        <ul>
          <li>{{error_message}}</li>
        </ul>
      </div>
      <div class="col-12">
        <form @submit.prevent="onSubmit">
          <div class="form-group">
            <label>Your email</label>
            <input v-model="email" name="" class="form-control" placeholder="Email" type="email">
          </div>
          <div class="form-group">
            <label>Your password</label>
             <input v-model="password" class="form-control" placeholder="******" type="password">
          </div>
          <div class="form-group">
            <a class="text-primary">No Account?</a>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import signIn from '@/graphql/mutations/signIn';
import JwtService from "@/common/jwt.service";
import apolloClient from '@/common/apolloClient';
import _get from 'lodash/get';
import { currentUser } from '@/graphql/queries/auth';

export default {
  name: 'LoginForm',
  apollo: {
    currentUser: currentUser
  },
  data() {
    return {
      email: '',
      password: '',
      error_message: null
    };
  },
  methods: {
    onSubmit() {
      signIn({
        apollo: this.$apollo,
        email: this.email,
        password: this.password
      }).then(response => _get(response, 'data.signIn', {}))
      .then(response => {
        if(response.success) {
          JwtService.saveToken(response.user.authenticationToken);

          JwtService.getToken().then(response => {
            apolloClient.writeData({
              data: {
                isAuthenticated: !!response
              }
            });

            this.$apollo.queries.currentUser.refetch();
          });

        } else {
          this.error_message = response.data.signIn.errors;
        }
      }).catch(error => {
        this.error_message = error.message;
      });
    }
  }
};
</script>
