html {
  background-color: $primary;
}

body {
  background-color: $primary;
}

h1,
h2,
h3,
h4 {
  font-style: bold;
  font-weight: 800;
}

h5 {
  font-style: bold;
  font-weight: 700;
}

// MIXINS \\

@mixin logo-icon($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center;
  display: inline-block;
}

@mixin logo-container(
  $provider,
  $color,
  $container-size,
  $logo-size
  ) {

  background-color: $color;
  border-radius: 50%;

  height: $container-size;
  width: $container-size;

  .logo-provider {
    @include logo-icon(
      url('assets/provider-logos/#{$provider}.svg')
    );

    height: $logo-size;
    width: $logo-size;
  }
}

// BOOTSTRAP OVERRIDES \\

.navbar {
  height: $navbar-height;

  a {
    font-weight: $navbar-link-fontweight;
  }
}

.nav-tabs {
  .nav-link {
    border-radius: $border-radius-sm;
    font-weight: bold;
  }
}

.card {
  color: $black;
}

// THEME \\

@each $type, $url in $misc-icons {
  .icon-misc-#{$type} {
    @include logo-icon($url);

    height: $default-logo-height;
    width: $default-logo-width;
  }
}

@each $type, $url in $misc-icons-small {
  .icon-misc-sm-#{$type} {
    @include logo-icon($url);

    height: $default-misc-small-width;
    width: $default-misc-small-width;
  }
}


@each $provider, $color in $provider-and-color {
  .logo-container-#{$provider} {
    @include logo-container(
      $provider,
      $color,
      $logo-provider-container-size,
      $logo-provider-size
    )
  }

  .logo-container-sm-#{$provider} {
    @include logo-container(
      $provider,
      $color,
      $logo-provider-container-size-sm,
      $logo-provider-size-sm
    )
  }
}

.user-logo-circle {
  height: $user-logo-circle-height;
  width: $user-logo-circle-width;
}

.always-show-scroll {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: $search-scroll-width;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $search-scroll-border-radius;
    background-color: $search-scroll-background-color;
    box-shadow: $search-scroll-box-shadow;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.icon-container-inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.min-w-0 {
  min-width: 0;
}

.modal-main {
  z-index: $zindex-modal-backdrop + 1;
}

.modal-backdrop-wrapper {
  position: absolute;
  z-index: $zindex-modal-backdrop;
}

.notifications-modal-wrapper {
  position: absolute;
  top: $notifications-modal-wrapper-top;
  width: 100%;
}

.list-border-top {
  border-top: $list-border-top;
}

.prevent-scroll {
  overflow-y: hidden;
}

// Tracked Items list

.ti-card {
  padding-left: $ti-standard-padding;
  padding-right: $ti-standard-padding;
}

.ti-provider-container {
  padding-right: $ti-standard-padding;
  text-align: center;
}

.ti-subject-wrapper {
  width: $ti-subject-wrap-width;
}

.ti-highlighted {
  background: $primary;
  color: $ti-highlighted-color;
  padding: $ti-highlighted-paddings;

  .text-muted {
    color: $ti-highlighted-color !important;
  }
}

.ti-initial-subject-content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $ti-subject-content-line-count;
}

.ti-message-content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $ti-message-content-line-count;
}

.ti-notifications-badge {
  background-color: $danger;
  border-radius: 50%;
  height: $ti-notifications-badge-height;
  margin: $ti-notifications-badge-margin;
  position: absolute;
  right: $ti-notifications-badge-right;
  top: $ti-notifications-badge-top;
  width: $ti-notifications-badge-width;
}

.ti-label {
  background-color: $gray-light;
  border-radius: $border-radius;
  color: $gray-600;
  display: inline-flex;
  padding: $ti-label-padding;
  font-size: $ti-label-font-size;
  text-transform: uppercase;
}

.ti-add-label {
  font-size: $ti-label-font-size;
}

.ti-add-label-input {
  width: $ti-add-label-min-width;

  // &:focus-visible {
  //   outline: none;
  // }
}

// Search interface

@each $type, $url in $search-icons {
  .search-icon-#{$type} {
    @include logo-icon($url);

    height: $search-icon-height;
    width: $search-icon-width;
  }
}

.search-header {
  font-size: $search-header-font-size;
}

.search-from {
  width: $search-from-width;
}

.search-results-container {
  max-height: $search-container-maxheight;
  overflow-y: scroll;
}
