<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
@import "../stylesheets/app.scss";

html {
  width: 300px;
}
</style>
