<template>
  <div id="app">
    <AppHeader />
    <div class="container mt-4">
      <router-view></router-view>
    </div>
    <Backdrop />

    <div
      class="notifications-modal-wrapper"
      v-if="notificationsBackdrop"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <NotificationsModal />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppHeader from '@/components/startpage/AppHeader.vue';
import Backdrop from '@/components/startpage/Backdrop.vue';
import NotificationsModal from '@/components/startpage/NotificationsModal';

import authMixin from '@/mixins/auth';
import {
  results,
  resultGroups,
  searchBackdrop,
  notificationsBackdrop
} from '@/graphql/queries/local';

export default {
  name: 'App',
  mixins: [authMixin],
  apollo: {
    results: results,
    resultGroups: resultGroups,
    searchBackdrop: searchBackdrop,
    notificationsBackdrop: notificationsBackdrop
  },
  components: {
    AppHeader,
    Backdrop,
    NotificationsModal
  }
}
</script>

<style lang="scss">
@import "../stylesheets/app.scss"
</style>
